---
layout: default
title: About Us • Salucro
description: Salucro is a Healthcare Technology Company, Exclusively Focused on Patient Payments.
image: 
permalink: /about/
---
<div id="hero" class="container-fluid aboutHero">
  <div class="container">
    <div class="row">
      <div class="col-md heroTitle">
        <h1><span>Better Technology, Happier Patients.</span></h1>
      </div>
    </div>
  </div>
</div>

<section id="aboutIntro">
  <div class="container">
    <!-- Intro Text -->
    <div class="row">
      <div class="col-md">
        <h3>Salucro is a Healthcare Technology Company, Exclusively Focused on Patient Payments.</h3>
        <p>Based in Phoenix, Arizona, we serve over 900+ organizations both in the US and internationally. We are passionate about delivering payment technology to the healthcare market, including hospitals, health systems, physician practices, ancillary service providers, along with other revenue cycle service and technology companies.</p>
      </div>
    </div>
    {% include company_metrics.html %}
  </div>
</section>

<hr>

{% include leadershipTeam.html %}