// Colors of All Shapes and Size

$black: #171738;
$grey: #CCCCCC;
$white: #F8F8F9;

$primary: #3F2A5F;
$primaryDark: #161839;

$secondary: #77C8AE;
$secondaryDark: #65A798;

$tertiary: #E48167;
$tertiaryDark: #DF6E4E;

// Spacing

$gutter: 35px;

// Random

$transition: all 0.15s ease;
$boxShadow: 0 4px 8px 0 rgba(0,0,0,.16);
$borderRadius: 7px;

/* Forms */
$select-background: #F5F5F5;
$form-controls-border: #929497;