// Colors of All Shapes and Size

// Option 1 - Red Primary

// $black: #231F20;
// $grey: #CCCCCC;
// $white: #F5F8F9;
// $whiteTransparent: rgba(255, 255, 255, 0.45);

// $primary: #E21F19;
// $primaryDark: #980000;
// $primaryTransparent: rgba(226, 31, 25, 0.25);

// $secondary: #95BCC3;
// $secondaryDark: #7CA2A9;
// $secondaryTransparent: rgba(149, 188, 195, 0.25);

// $tertiary: #C9A19C;
// $tertiaryDark: #A6897D;
// $tertiaryTransparent: rgba(201, 161, 156, 0.25);

// ------------------------------------------------

// Option 2 - Teal/Blue

// $black: #022E41;
// $grey: #CCCCCC;
// $white: #F8F9FA;
// $whiteTransparent: rgba(248, 249, 250, 0.45);

// $primary: #00C6B1;
// $primaryDark: #00918F;
// $primaryTransparent: rgba(0, 198, 177, 0.25);

// $secondary: #4B7085;
// $secondaryDark: #305D74;
// $secondaryTransparent: rgba(75, 112, 133, 0.25);

// $tertiary: #CC2936;
// $tertiaryDark: #7E0000;
// $tertiaryTransparent: rgba(204, 41, 54, 0.25);

// ------------------------------------------------

// Option 3 - Purple/Teal

$black: #171738;
$grey: #CCCCCC;
$white: #F8F8F9;
$whiteTransparent: rgba(248, 248, 249, 0.45);

$primary: #3F2A5F;
$primaryDark: #161839;
$primaryTransparent: rgba(63, 42, 95, 0.25);

$secondary: #77C8AE;
$secondaryDark: #65A798;
$secondaryTransparent: rgba(119, 200, 174, 0.25);

$tertiary: #E48167;
$tertiaryDark: #DF6E4E;
$tertiaryTransparent: rgba(228, 129, 103, 0.25);

// Spacing

$gutter: 35px;

// Random

$transition: all .25s ease;
$boxShadow: 0 4px 8px 0 rgba(0,0,0,.16);
$boxShadowBig: 2px 6px 8px 2px rgba(0,0,0,.15);
$borderRadius: 7px;

/* Forms */
$select-background: #F5F5F5;
$form-controls-border: #929497;