<!-- Start Company Metrics -->
<section id="companyMetrics">
	<div class="row">
		<div class="col-md">
			<img src="https://via.placeholder.com/500x500" alt="Locations">
			<h5>Operating in Over 900+ Locations</h5>
		</div>
		<div class="col-md">
			<img src="https://via.placeholder.com/500x500" alt="Consumers">
			<h5>Over $X+ In Processing Volume</h5>
			</div>
		<div class="col-md">
			<img src="https://via.placeholder.com/500x500" alt="Transactions">
			<h5>X+ Patient Interactions Per Year</h5>
		</div>
		<div class="col-md">
			<img src="https://via.placeholder.com/500x500" alt="Offices">
			<h5>International Office Presence</h5>
		</div>
	</div>
</section>
<!-- End Company Metricss -->