<footer>

	<div class="container-fluid" id="preFooter">
		<div class="container">
			<h3><span>Connect</span> with Salucro</h3>
			<hr class="salucro">
			<p>Interested in learning more about Salucro? Reach out to our team to learn more about how revenue cycle leaders around the world are increasing effectiveness with the Salucro Patient Payment Platform.</p>
		</div>
	</div>
	
	<!-- Begin Footer Top -->
	<div class="container-fluid" id="footerTop">
		<div class="row">
			<div class="col-md">
				<li>Support</li>
				<li>About</li>
				<li>Privacy Policy</li>
				<li>Terms of Service</li>
				<li>Careers</li>
			</div>
		</div>
	</div>
	<!-- End Footer TOp -->

	<!-- Begin Footer Bottom -->
	<div class="container-fluid" id="footerBottom">
		<div class="row">
			<div class="col-md">
				<p class="extraSmall">Copyright &copy; 2012-2020 Salucro Healthcare Solutions, LLC | All Rights Reserved | Salucro is a trademark of Salucro Healthcare Solutions, LLC | Patents Pending</p>
			</div>
		</div>
	</div>
	<!-- End Footer Bottom -->

</footer>

<!-- JS -->

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="{{ site.baseurl }}/assets/js/custom-front.js"></script>

<!-- Begin Smooth Scroll JS - https://github.com/cferdinandi/smooth-scroll -->
<script src="{{ site.baseurl }}/assets/js/smooth-scroll.min.js"></script>
<script>
	var scroll = new SmoothScroll('a[href*="#"]');
	var scroll = new SmoothScroll('a[href*="#"]', {
		speed: 900
	});
</script>
<!-- End Smooth Scroll JS -->







