<section id="goodCompany">
	<div class="container">
		<h3>You're in <span>Good Company</span></h3>
		<div class="row">
			<div class="col-md">
				<img src="{{ site.baseurl }}/img/includes/goodCompany/dignityHealth.svg" alt="Dignity Health">
			</div>
			<div class="col-md">
				<img src="{{ site.baseurl }}/img/includes/goodCompany/ingenicoGroup.svg" alt="Ingenico Group">
			</div>
			<div class="col-md">
				<img src="{{ site.baseurl }}/img/includes/goodCompany/careCredit.svg" alt="CareCredit">
			</div>
			<div class="col-md">
				<img src="{{ site.baseurl }}/img/includes/goodCompany/paypal.svg" alt="PayPal">
			</div>
			<div class="col-md">
				<img src="{{ site.baseurl }}/img/includes/goodCompany/accuReg.svg" alt="AccuReg">
			</div>
		</div>
	</div>
</section>