<!-- {% include newsAnnouncement.html %} -->

<!-- NAV -->

<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container">
		<a href="{{ site.baseurl }}/" class="navbar-brand"><img src="{{ site.baseurl }}/img/general/salucroLogoBlack.svg" alt="Salucro Logo"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse collapse in" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown" id="solutions">
					<a href="{{ site.baseurl }}/products/recognition" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">Solutions</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a href="{{ site.baseurl }}/products/recapture" class="dropdown-item">Provider Portal</a>
						<a href="{{ site.baseurl }}/products/recognition" class="dropdown-item">Patient Portal</a>
						<a href="{{ site.baseurl }}/products/recognition" class="dropdown-item">PayFit™ Patient Financing</a>
						<a href="{{ site.baseurl }}/products/recognition" class="dropdown-item">Integrations</a>
					</div>
				</li>
				<li class="nav-item dropdown" id="contentAndResources">
					<a href="{{ site.baseurl }}/blog/" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">Content &amp; Resources</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a href="{{ site.baseurl }}/content-and-resources/news" class="dropdown-item">News</a>
						<a href="https://ir.mobivity.com/press-releases/" target="_blank" class="dropdown-item">Press</a>
						<a href="{{ site.baseurl }}/content-and-resources/events" class="dropdown-item">Events</a>
						<a href="{{ site.baseurl }}/content-and-resources/case-studies" class="dropdown-item">Case Studies</a>
						<a href="{{ site.baseurl }}/content-and-resources/ebooks-and-guides" class="dropdown-item">eBooks &amp; Guides</a>
					</div>
				</li>
				<li class="nav-item dropdown" id="aboutUs">
					<a href="{{ site.baseurl }}/about/" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">About Us</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a href="{{ site.baseurl }}/about/" class="dropdown-item">Company & Culture</a>
						<a href="{{ site.baseurl }}/about/" class="dropdown-item">Trust & Safety</a>
						<a href="http://support.mobivity.com/" class="dropdown-item" target="_blank">Support</a>
						<a href="{{ site.baseurl }}/contact/general/" class="dropdown-item">Contact</a>
					</div>
				</li>
				<li class="nav-item">
					<a href="{{ site.baseurl }}/blog" class="nav-link" >Blog</a>
				</li>
				<li class="nav-item">
					<a href="{{ site.baseurl }}/contact/get-started" class="nav-link" id="demo">Request Demo</a>
				</li>
			</ul>
		</div>
	</div>
</nav>