<section id="leadershipTeam">
	<div class="container">
		<h2><span>Our Leadership</span></h2>
		<!-- Start Single Leadership Entry -->
		<div class="row">
			<div class="col-3">
				<img src="{{ site.baseurl }}/img/includes/leadership/clay.png" alt="Clayton Bain">
			</div>
			<div class="col-9">
				<h5>Clayton Bain</h5>
				<h6>Founder and Chief Executive Officer</h6>
				<p class="small">Leader Bio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit in soluta, mollitia rem voluptatibus aliquid, blanditiis pariatur a, esse ut assumenda illum labore beatae quibusdam. At quaerat similique eum officiis voluptatem dolores rerum eos blanditiis adipisci totam aut nam, earum debitis nisi,</p>
			</div>
		</div>
		<!-- End Single Leadership Entry -->
		<!-- Start Single Leadership Entry -->
		<div class="row">
			<div class="col-3">
				<img src="{{ site.baseurl }}/img/includes/leadership/david.png" alt="David Schulz">
			</div>
			<div class="col-9">
				<h5>David Schulz</h5>
				<h6>Chief Operating Officer</h6>
				<p class="small">Leader Bio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit in soluta, mollitia rem voluptatibus aliquid, blanditiis pariatur a, esse ut assumenda illum labore beatae quibusdam. At quaerat similique eum officiis voluptatem dolores rerum eos blanditiis adipisci totam aut nam, earum debitis nisi,</p>
			</div>
		</div>
		<!-- End Single Leadership Entry -->
		<!-- Start Single Leadership Entry -->
		<div class="row">
			<div class="col-3">
				<img src="{{ site.baseurl }}/img/includes/leadership/marc.png" alt="Marc Rubenstein">
			</div>
			<div class="col-9">
				<h5>Marc Rubenstein</h5>
				<h6>Chief Financial Officer</h6>
				<p class="small">Leader Bio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit in soluta, mollitia rem voluptatibus aliquid, blanditiis pariatur a, esse ut assumenda illum labore beatae quibusdam. At quaerat similique eum officiis voluptatem dolores rerum eos blanditiis adipisci totam aut nam, earum debitis nisi,</p>
			</div>
		</div>
		<!-- End Single Leadership Entry -->
		<!-- Start Single Leadership Entry -->
		<div class="row">
			<div class="col-3">
				<img src="{{ site.baseurl }}/img/includes/leadership/darcy.png" alt="Darcy Scibetta">
			</div>
			<div class="col-9">
				<h5>Darcy Scibetta</h5>
				<h6>Chief Accounting Officer</h6>
				<p class="small">Leader Bio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit in soluta, mollitia rem voluptatibus aliquid, blanditiis pariatur a, esse ut assumenda illum labore beatae quibusdam. At quaerat similique eum officiis voluptatem dolores rerum eos blanditiis adipisci totam aut nam, earum debitis nisi,</p>
			</div>
		</div>
		<!-- End Single Leadership Entry -->
		<!-- Start Single Leadership Entry -->
		<div class="row">
			<div class="col-3">
				<img src="{{ site.baseurl }}/img/includes/leadership/rebecca.png" alt="Rebecca Truscott">
			</div>
			<div class="col-9">
				<h5>Rebecca Truscott</h5>
				<h6>Senior Vice President, Strategy</h6>
				<p class="small">Leader Bio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit in soluta, mollitia rem voluptatibus aliquid, blanditiis pariatur a, esse ut assumenda illum labore beatae quibusdam. At quaerat similique eum officiis voluptatem dolores rerum eos blanditiis adipisci totam aut nam, earum debitis nisi,</p>
			</div>
		</div>
		<!-- End Single Leadership Entry -->
		<!-- Start Single Leadership Entry -->
		<div class="row">
			<div class="col-3">
				<img src="{{ site.baseurl }}/img/includes/leadership/eric.png" alt="Eric Waterhouse">
			</div>
			<div class="col-9">
				<h5>Eric Waterhouse</h5>
				<h6>Vice President, Technology</h6>
				<p class="small">Leader Bio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit in soluta, mollitia rem voluptatibus aliquid, blanditiis pariatur a, esse ut assumenda illum labore beatae quibusdam. At quaerat similique eum officiis voluptatem dolores rerum eos blanditiis adipisci totam aut nam, earum debitis nisi,</p>
			</div>
		</div>
		<!-- End Single Leadership Entry -->
		<!-- Start Single Leadership Entry -->
		<div class="row">
			<div class="col-3">
				<img src="{{ site.baseurl }}/img/includes/leadership/ken.png" alt="Ken Briggs">
			</div>
			<div class="col-9">
				<h5>Ken Briggs</h5>
				<h6>General Counsel</h6>
				<p class="small">Leader Bio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit in soluta, mollitia rem voluptatibus aliquid, blanditiis pariatur a, esse ut assumenda illum labore beatae quibusdam. At quaerat similique eum officiis voluptatem dolores rerum eos blanditiis adipisci totam aut nam, earum debitis nisi,</p>
			</div>
		</div>
		<!-- End Single Leadership Entry -->
	</div>
</section>