// Standard Form Styles

input, textarea, select {
	border: none;
	box-shadow: $boxShadow;
	padding: $gutter/2 $gutter/2;
	border-radius: $borderRadius;
	width: 95%;
	margin-bottom: $gutter;
	color: $grey;

	&:focus {
		box-shadow: $boxShadowBig;
		outline: none;
	}
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: red transparent transparent transparent;
}

textarea {
	height: $gutter*3;
}

input[type="submit"] {
	text-decoration: none;
	color: $white !important;
	border-radius: 35px;
	background-color: $secondary;
	padding: $gutter/2 $gutter;
	box-shadow: $boxShadowBig;
	transition: $transition;
	width: auto;
	margin: 0px auto;
	border: none !important;

	&:hover {
		background-color: $primary;
		text-decoration: none;
		border: none !important;
	}

}

// /contact/support/

#supportHero {
	
	padding-top: $gutter*2;

	select#type {
		display: none;
	}

}

// /contact/request-demo

#requestDemo {

	padding-top: $gutter;

	span {
		color: $primary;
	}

	form {

		input[type="text"], select {
			display: inline;
			width: 45%;
		}

		input#firstname, input#email, input#jobtitle {
			margin-right: $gutter;
		}

		@include media-breakpoint-down(md) {

			input, select {
				width: 95%;
				display: inline-block;
				margin-right: 0;
			}
		}
	}

	hr.preCopySection {
		border: 0;
		border-bottom: 3px solid $secondary;
		width: 25%;
		text-align: left;
		margin-left: 0;
		margin-top: 0;
		margin-bottom: $gutter/2;
	}

	img {
		max-width: 100%;
	}

}

// /content-and-resources/downloads

#contentDownloadsGoodCompany {
	margin-bottom: 0;
	padding-bottom: 0;
}