hr.salucro {
	margin: 0 !important;
	padding: 0 !important;
	margin-bottom: $gutter/2 !important;
	width: 15%;
	border: 2px solid $secondary;
}

.sButton {

	text-decoration: none;
	color: $white !important;
	border-radius: 35px;
	background-color: $secondary;
	padding: $gutter/5 $gutter/2;
	box-shadow: $boxShadowBig;
	transition: $transition;

	&:hover {
		background-color: $primaryDark;
	}

	&:hover {
		text-decoration: none;
	}

}

.sButtonTransparent {
	text-decoration: none;
	color: $white !important;
	border-radius: 35px;
	border: 3px solid $secondary;
	background-color: none;
	padding: $gutter/5 $gutter/2;
	transition: $transition;
	max-width: 75%;
	margin: 0px auto;

	&:hover {
		background-color: $secondaryDark;
		border-color: $secondaryDark;
	}

	&:hover {
		text-decoration: none;
	}

}

.sButtonTransparentWhiteBG {
	color: $secondary !important;

	&:hover {
		color: $white !important;
	}
}