hr.salucro {
	margin: 0 !important;
	padding: 0 !important;
	margin-bottom: $gutter/2 !important;
	width: 15%;
	border: 2px solid $secondary;
}

.sButton {

	text-decoration: none;
	color: $white !important;
	border-radius: 7px;
	background-color: $secondary;
	padding: $gutter/5 $gutter/2;
	box-shadow: $boxShadowBig;
	transition: $transition;

	&:hover {
		background-color: $primaryDark;
	}

	&:hover {
		text-decoration: none;
	}	

}