.waveContainer {
	svg {
		display: block;
		margin: 0;
		padding: 0;
		width: 100% !important;
		object-fit: cover;
		margin-bottom: -1px;
	}
}

#preFooterCTA {

	margin-top: -$gutter;
	margin-bottom: $gutter/2;

	@include media-breakpoint-down(md) {
		margin-top: 0;
	}

	h4, p {
		color: $white;
	}
	
	p {
		margin: $gutter auto;
	}

	form {

		@include media-breakpoint-down(sm) {
			input {
				display: block;
				margin-right: 0;
				margin-bottom: $gutter;
				width: 100%;
			}

			input[type="email"] {
				width: 100% !important;
			}
		}

		input[type="email"] {
			border: none;
			box-shadow: $boxShadow;
			padding: $gutter/2 0;
			padding-left: $gutter;
			width: 80%;
			border-radius: $borderRadius;
			margin-right: $gutter;

			&:focus {
				box-shadow: $boxShadowBig;
				outline: none;
			}

		}

		input[type="submit"] {
			text-decoration: none;
			color: $white !important;
			border-radius: 35px;
			background-color: $secondary;
			padding: $gutter/2 $gutter;
			box-shadow: $boxShadowBig;
			transition: $transition;
			max-width: 50%;
			margin: 0px auto;
			border: none !important;

			&:hover {
				background-color: $secondaryDark;
				text-decoration: none;
				border: none !important;
			}
		}

	}

}

footer {

	background: rgb(63,42,95);
	background: linear-gradient(180deg, rgba(63,42,95,1) 0%, rgba(22,24,57,1) 100%);

	.footerLogo {
		margin-top: $gutter;
		margin-bottom: $gutter/4;
		max-width: 150px;
	}

	.container-fluid {
		padding: 0px;
		text-align: center;

		.row {
			margin: 0;
			padding: 0;
		}
	}

	#footerTop {
		margin: 0px auto;
		padding: $gutter $gutter/2;

		p {
			color: $whiteTransparent;
			margin-bottom: $gutter;
		}

		p.small {
			color: $white;
			text-align: left;
			line-height: 1.5rem;
			margin-bottom: $gutter/3;
			text-transform: uppercase;

			a {
				color: $white;
				text-decoration: none;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	#footerBottom {

		padding-bottom: $gutter*1.5;
		margin: 0px;

		p {
			color: $whiteTransparent;
		}

		a {
			color: $whiteTransparent;

			&:hover {
				color: $white;
			}
			
		}

		.fa-linkedin-in {
			margin: 0 $gutter/2;
		}

	}

}