#homeHero {

	background: url("../../img/home/heroBG.jpg") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: block;

	padding: $gutter*4 0;
	text-align: center;

	h2, p {
		color: $white !important;
		text-shadow: $textShadow;
	}

	p {
		font-weight: $regular;
	}

	#homeHeroContent {

		p {
			margin: $gutter 0;
		}

		.sButton {
			text-shadow: none;
		}

	}

}