#homeHero {

	background-color: grey;
	// background: url("../../img/home/homeHeroNew.jpg") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: block;

	padding: $gutter*6.5 0;
	text-align: center;

	h1, p {
		color: $white !important;
		text-shadow: $textShadow;
	}

	p {
		font-weight: $regular;
	}

	#homeHeroContent {

		p {
			margin: $gutter 0;
		}

		.sButton {
			text-shadow: none;
			margin-right: $gutter/2;
			margin-left: $gutter/2;
		}

	}

}