.modal-dialog {
	max-width: 800px;
	margin: 30px auto;
}

.modal-body {
	position: relative;
	padding: 0px;
}

.close {
	position: absolute;
	right: -30px;
	top: 0;
	z-index: 999;
	font-size: 2rem;
	font-weight: normal;
	color: #fff;
	opacity: 1;
}

#reportCTA {

	background: $primary;
	background: linear-gradient(42deg, $primary 0%, $primaryDark 66%);
	text-align: center;

	.col-md {

		padding: 0 $gutter*2;

	}

	#reportStat {

		h2, p {
			color: $white;
		}

		h2 {
			font-size: 172px;
			line-height: 200px;
		}
	}

	#reportCopy {
		padding: $gutter*3 0;
		background-color: $white;
		margin-right: -$gutter*2;
	}
}

#homeSolutionsIntro {

	margin-top: $gutter*1.75;

	h3, p {
		text-align: center;
	}

}

#homeSolutions {

	text-align: center;
	margin-top: $gutter*2;
	margin-bottom: -$gutter*2;

	.col-md {

		padding: $gutter/2;
		margin: 0 $gutter;
		margin-bottom: $gutter;

		&#homeSolutionsPatients {
			h6 {
				color: $primary;
			}
		}

		&#homeSolutionsProviders {
			h6 {
				color: $secondary;
			}
		}

		&#homeSolutionsIntegrations {
			h6 {
				color: $tertiary;
			}
		}

		img, svg {
			margin-bottom: $gutter/2;
			max-width: 100px;
			max-height: 60px;
		}

		h6 {
			margin-bottom: $gutter/2;
			font-weight: $heavy;
			color: $secondaryDark;
		}

		p {
			margin-bottom: $gutter/2;
		}

		a {

			text-decoration: none;

			&:hover {
				text-decoration: none;
			}

		}

	}

}

#homeProductPreview {

	margin: $gutter*3 auto;

	.container-fluid {
		padding: $gutter*2.5 0;
		background: $secondary;
		background: linear-gradient(40deg, $secondary 0%, $secondaryDark 50%);

		h3, p {
			color: $white;
		}

		@include media-breakpoint-down(md) {
			p {
				margin-bottom: $gutter;
			}
		}

	}

}

#homepageTrustInto {
	background: url(../img/home/trustBackground.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.securityImage {
		padding: 0 $gutter;
		text-align: center;

		img {
			// max-width: 70%;
			margin: 0px auto;
		}
	}

}