.modal-dialog {
	max-width: 800px;
	margin: 30px auto;
}

.modal-body {
	position: relative;
	padding: 0px;
}

.close {
	position: absolute;
	right: -30px;
	top: 0;
	z-index: 999;
	font-size: 2rem;
	font-weight: normal;
	color: #fff;
	opacity: 1;
}

#homeSolutionsIntro {

	margin-top: $gutter*1.75;

	h3, p {
		text-align: center;
	}

}

#homeSolutions {

	text-align: center;
	margin-top: $gutter*2;
	margin-bottom: -$gutter*2;

	.col-md {

		padding: $gutter/2;
		margin: 0 $gutter;
		margin-bottom: $gutter;


		&#homeSolutionsPatients {
			h5 {
				color: $primary;
			}
		}

		&#homeSolutionsProviders {
			h5 {
				color: $secondary;
			}
		}

		&#homeSolutionsIntegrations {
			h5 {
				color: $tertiary;
			}
		}

		img, svg {
			margin-bottom: $gutter/2;
			max-width: 100px;
			max-height: 60px;
		}

		h5 {
			margin-bottom: $gutter/2;
			font-weight: $heavy;
			color: $secondaryDark;
		}

		p {
			margin-bottom: $gutter/2;
		}

		a {

			text-decoration: none;

			&:hover {
				text-decoration: none;
			}

		}

	}

}

#homeProductPreview {

	svg {
		display: block;
	}

	.container-fluid {
		margin-top: -1px;
		background: rgb(119,200,174);
		background: linear-gradient(180deg, rgba(119,200,174,1) 0%, rgba(101,167,152,1) 50%);

		h3, p {
			color: $white;
		}

		@include media-breakpoint-down(md) {
			p {
				margin-bottom: $gutter;
			}
		}

	}

}

#homepageTrustInto {
	background: url(../img/home/trustBackground.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.securityImage {
		padding: 0 $gutter;
		text-align: center;

		img {
			// max-width: 70%;
			margin: 0px auto;
		}
	}

}