.modal-dialog {
	max-width: 800px;
	margin: 30px auto;
}

.modal-body {
	position: relative;
	padding: 0px;
}

.close {
	position: absolute;
	right: -30px;
	top: 0;
	z-index: 999;
	font-size: 2rem;
	font-weight: normal;
	color: #fff;
	opacity: 1;
}

#homeSolutionsIntro {

	margin-top: $gutter*1.75;

	h3, p {
		text-align: center;
	}

}

#homeSolutions {

	text-align: center;
	margin-top: $gutter*2;
	margin-bottom: -$gutter*2;

	.col-md {

		padding: $gutter/2;
		margin: 0 $gutter;
		margin-bottom: $gutter;


		&#homeSolutionsPatients {
			h5 {
				color: $primary;
			}
		}

		&#homeSolutionsProviders {
			h5 {
				color: $secondary;
			}
		}

		&#homeSolutionsIntegrations {
			h5 {
				color: $tertiary;
			}
		}

		img {
			margin-bottom: $gutter/2;
			max-width: 100px;
			max-height: 60px;
		}

		h5 {
			margin-bottom: $gutter/2;
			font-weight: $heavy;
			color: $secondaryDark;
		}

		p {
			margin-bottom: $gutter/2;
		}

		a {

			text-decoration: none;

			&:hover {
				text-decoration: none;
			}

		}
	}

}

#homeProductPreview {

	svg {
		display: block;
	}

	.container-fluid {
		margin-top: -1px;
		background: rgb(119,200,174);
		background: linear-gradient(180deg, rgba(119,200,174,1) 0%, rgba(101,167,152,1) 50%);

		h3, p {
			color: $white;
		}

		@include media-breakpoint-down(md) {
			p {
				margin-bottom: $gutter;
			}
		}

	}

}

#preFooterCTA {
	
	p {
		margin: $gutter auto;
	}

	form {

		@include media-breakpoint-down(sm) {
			input {
				display: block;
				margin-right: 0;
				margin-bottom: $gutter;
				width: 100%;
			}

			input[type="email"] {
				width: 100% !important;
			}
		}

		input[type="email"] {
			border: none;
			box-shadow: $boxShadow;
			padding: $gutter/2 0;
			padding-left: $gutter;
			width: 80%;
			border-radius: $borderRadius;
			margin-right: $gutter;

			&:focus {
				box-shadow: $boxShadowBig;
				outline: none;
			}

		}

		input[type="submit"] {
			text-decoration: none;
			color: $white !important;
			border-radius: 35px;
			background-color: $secondary;
			padding: $gutter/2 $gutter;
			box-shadow: $boxShadowBig;
			transition: $transition;
			max-width: 50%;
			margin: 0px auto;
			border: none !important;

			&:hover {
				background-color: $primaryDark;
				text-decoration: none;
				border: none !important;
			}
		}

	}

}









