#leadershipTeam {

	.row {
		margin-bottom: $gutter;
	}

	img {
		max-width: 100%;
	}

	h5 {
		color: $primary;
		margin-top: $gutter;
		margin-bottom: $gutter/3;
	}

	h6 {
		color: $secondary;
		margin-bottom: $gutter/2;
	}

}

#goodCompany {

	padding-top: $gutter*3;
	text-align: center;

	.container {
		.row {

			padding: $gutter 0;

			.col-md{
				img {
					max-width: 100%;

					@include media-breakpoint-down(md) {
						margin-bottom: $gutter;
					}
				}
			}
		}
	}

}

#patientPaymentReportOne {

	background-color: $primary;

	.left {
		background-color: $primary;

		h2 {
			color: $white;
			text-shadow: $textShadow;
		}
	}

	.right {
		background: linear-gradient(90deg, $primary 0%, $primary 100%);
	}

}