#postHero {
  box-shadow: $boxShadow;

  .heroImage {
    
    padding-left: 0px;
    padding-right: 0px;

    img {
      max-width: 100%;
      max-height: 100%;
    }

  }

  .heroTitle {

    padding-right: $gutter;
    padding-left: $gutter;
    padding-top: $gutter/2;

    @include media-breakpoint-up(lg) {
    	padding-top: $gutter;
    }

    @include media-breakpoint-up (xl) {
    	padding-top: $gutter*2;
    }

    @media (min-width: 1760px) {
    	padding-top: $gutter*4;
    }

    @media (min-width: 2200px) {
    	padding-top: $gutter*6;
    }

    h1 {
      color: $white;
      text-shadow: $textShadow;
      font-size: 1rem;

      @include media-breakpoint-up(md) {
      	font-size: 1.25rem;
      }

      @include media-breakpoint-up(lg) {
      	font-size: 1.75rem;
      }

      @include media-breakpoint-up(xl) {
      	font-size: 2rem;
      }

      @media (min-width: 1450px) {
      	font-size: 3rem;
      }

      @media (min-width: 2200px) {
      	font-size: 4rem;
      }

      span {
        background-color: $secondaryDark;
        padding: $gutter/2 $gutter/4;
        display: inline-block;
      }

    }

    .authorName, .extraSmall {
    	color: $grey;
    }

  }

}

blockquote {
  position: relative;
  margin: $gutter auto;
  width: 100%;
  font-size: 32px;
  line-height: 48px;
  padding-left: 40px;
  border-left: 3px solid $primaryDark;
  font-family: $heading;
  font-weight: $regular;
  color: $primary !important;
}

blockquote span {
  display: block;
  text-align: right;
  font-size: 24px;
  line-height: 40px;
  padding-right: 40px;
  margin-top: 10px;
  text-transform: uppercase;
  font-family: $body;
  color: rgba(120, 176, 182, 0.75) !important;
  font-weight: $light;
}

#post {

  padding-top: $gutter;
  padding-bottom: $gutter;

  p {

    font-size: 1.125rem;

    strong {
      color: $tertiary;
    }

    &.small {
      color: $grey;
    }

  }

  h1 {
    color: $primary;
  }

  h2 {
    color: $secondary;
  }

  h3 {
    color: $tertiary;
  }

  li {
    
    strong {
      color: $tertiary;
    }

  }

  .featuredImg {
    max-width: 100%;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: $boxShadow;
    -moz-box-shadow: $boxShadow;
    -webkit-box-shadow: $boxShadow;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 70%;
  }

}

#footerForm {

  padding-bottom: $gutter;

  hr {
    margin-top: -$gutter/2;
  }

  img {
    max-width: 100%;
  }
}