
#solutionsHero {
	background: url(../img/solutions/solutionsHero.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: $gutter*3 0;
	margin-bottom: $gutter;

	h1 {
		color: $primary;
	}

}

#solutionsOverview {

	text-align: center;
	margin-bottom: -$gutter*2;

	.col-md {
		padding: $gutter/2;
		margin: 0 $gutter;
		margin-bottom: $gutter;

		h5 {
			color: $primary;
		}

		img, svg {
			margin-bottom: $gutter/2;
			max-width: 100px;
			max-height: 60px;
		}

		h5 {
			margin-bottom: $gutter/2;
			font-weight: $heavy;
			color: $secondaryDark;
		}

		p {
			margin-bottom: $gutter/2;
		}

		a {

			text-decoration: none;

			&:hover {
				text-decoration: none;
			}

		}

	}

}

#patientPayments {

	padding-top: $gutter*3;

	.container-fluid {
		margin: 0;
		padding: 0;
	}

	#advancedPatientEngagement {

		margin: $gutter*1.5 0;

		.container-fluid {
			margin-top: -3px;
			background: $secondary;
			background: linear-gradient(180deg, $secondary 0%, $secondaryDark 100%);
		}

		h4 {
			color: $white;
			margin-top: $gutter*2;
		}

		p {
			color: $white;
		}

		img {
			max-width: 100%;
		}

	}

}

#patientPaymentTypes {

	h4 {
		font-weight: $heavy;
		margin-top: $gutter/2;
	}

	img {
		max-width: 100%;
	}

}

#providerSolutions {

	margin-top: $gutter*2;

	#streamlinedWorkflows {

		padding-top: $gutter;

		h4 {
			margin-top: $gutter;
		}

		img {
			max-width: 100%;
		}

	}

}

#seamlessIntegrations {

	#EHRIntegrationsList {

		.row {
			margin-bottom: $gutter*2;
		}

		img {
			max-width: 100%;
		}

	}

}









