@import url("https://use.typekit.net/ipp8idi.css");

// Body and Heading Font Customizations

$body: lato, sans-serif;
$heading: adelle, serif;

// Font Weight Customizations

$light: 300;
$regular: 400;
$heavy: 600;

$textShadow: 1px 1px 1px rgba(0, 0, 0, 0.35);

html, body {
	font-family: $body;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading;
	font-weight: $regular;

	span {
		font-weight: $heavy;
	}
}

h1, h2, h3 {
	margin-bottom: $gutter/2;
}

h1 {
	font-size: 3.5rem;
	line-height: 4rem;
	color: $black;

	@include media-breakpoint-down(md) {
		font-size: 3.5rem;
		line-height: 4rem;
	}
}

h2 {
	font-size: 3rem;
	line-height: 3.5rem;
	color: $primaryDark;
}

h3 {
	font-size: 2rem;
	line-height: 2.5rem;
	font-weight: regular;
	color: $primary
}

p {
	font-size: 1.5rem;
	font-family: $body;
	font-weight: $light;
	color: $black;
	line-height: 2rem;

	span {
		font-weight: $heavy;
	}

	&.small {
		font-size: 1rem;
		font-weight: $light;
	}

	&.extraSmall {
		font-size: .75rem;
	}
}

span {
	background: linear-gradient(transparent 0%, transparent 65%, $secondaryTransparent 65%, $secondaryTransparent 100%);
}